@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - SETTINGS
-------------------------------------------------------------- */




/*--------------------------------------------------------------
2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}

/*--------------------------------------------------------------
4.0 - ELEMENTS
-------------------------------------------------------------- */
/* -- FORMS -- */



/* -- LISTS -- */
ul {
	list-style: none;
}

.bg-blk li, nav li {
	display: inline-block;

}
.bg-blk li {
	padding: 20px;
}
.bg-blk ul {
	text-align: right;
	font: 400 12px 'open sans', sans-serif;
}
/* -- MEDIA -- */
#bg-mtn {
	background: url("../img/mtn.jpg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#logo {
	background: url("../img/logo.png")
}

#bg-img-crm {
	background: url("../img/crm-mtns.png") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#bg-img-adventures {
	background: url("../img/adventure.jpg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#bg-wood {
	background: url("../img/woodgrain.jpg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* -- TABLES -- */

/* -- TYPOGRAPHY -- */
h2 {
	font: 700 15px 'open sans', sans-serif;
	text-align: center;
	text-transform: uppercase; 
}

h2 span {
	font-size: 40px;
	color: #000;
}

p {
	font: 400 15px 'eb garamond', serif;
	padding-bottom: 40px;
}
/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */
.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

a {
	text-decoration: none;
}

i {
	display: inline-block;
	padding-top: 100px;
}

/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

#bg-img-crm section, #bg-white section, #bg-img-adventures div div {
	width: 500px;
}

#bg-img-adventures p, .btn, #bg-wood p {
	color: #ede9e1;
}

#bg-img-adventures p:last-child, #bg-wood {
	text-align: center;
}

#bg-img-adventures div div {
	padding: 150px 0;
}
.btn {
	width: 250px;
	background-color: #ff7100;
	padding: 30px;
	margin: 0 auto;
	text-transform: uppercase; 
	
}

.btn:hover {
	background-color: #ede9e1;	
}

.bg-blk {
	background-color: #000;
}

.bg-blk a {
	color: #fff;
}

.bg-blk a:hover, nav li, h2 {
	color: #ff7100;
}



/* -- BUTTONS -- */

/* -- HEADER -- */

#bg-mtn div {
	width: 400px;
}
q {
	font: 700 20px 'eb garamond', serif;
	color: #ede9e1;
}

#bg-mtn {
	padding-bottom: 300px;
}

q {
    quotes: "“" "”" "‘" "’";
}

q::before, q::after {
	font-size: 50px;
}
q::before {
	content: open-quote;

}

q::after {
	content: close-quote;
}

#circle {
	width: 500px;
	height: 500px;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-image: url("../img/backpack.jpg");
}
/* -- NAVIGATION -- */

nav {
	padding-bottom: 275px;
 
}

nav, #bg-mtn p, .btn {
	text-align: center;
}

#bg-mtn div {
	margin: 0 auto;
}
nav ul {
	margin: 0px;
	padding: 0px;
}
nav li {
	font: 700 15px 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 52px;
}

nav span {
	font: 15px 'Pacifico', cursive;
	text-transform: capitalize;
} 

#bg-wood section {
	width: 375px;
	padding: 50px 50px 50px 0;
}
#bg-wood section:last-child {
	padding-right: 0px;
}
#circle, #bg-wood section {
	float: left;
}

#bg-white section, #bg-wood section:last-child {
	float: right;
}

#bg-img-adventures i {
	color: #ff7100;
}

/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */


/* -- ALIGNMENT -- */

/* -- COLOR -- */

/* -- SIZE -- */








